<div width="100%" style="margin: 0 auto; padding: 0;">

  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="100%" align="center" valign="top">

          <table width="750" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="650" align="center" valign="top">

                  <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td>
                          <img style="display: block;" width="650" height="1">
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table width="650" align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td height="30"></td>
                      </tr>

                      <!-- ********** GANA LOGO ********** -->
                      <!-- ********** GANA LOGO ********** -->
                      <tr>
                        <td align="center">
                          <a href="https://ganacoin.io" target="_blank">
                            <img src="https://cdn.ganacoin.io/web-v4/email-template-logo.png" width="102" height="20"
                              title="GANA" alt="logo">
                          </a>
                        </td>
                      </tr>

                      <tr>
                        <td height="30"></td>
                      </tr>
                    </tbody>
                  </table>

                  <table width="650" border="0" cellspacing="0" cellpadding="0"
                    style="background: #111821 url('https://cdn.ganacoin.io/web-v4/email-template-background.png'); background-size: 9%;">
                    <tbody>
                      <tr>
                        <td>
                          <div
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.4; color: white; padding: 70px 60px;">

                            <!-- ********** HOOK ********** -->
                            <!-- ********** HOOK ********** -->

                            <!-- :::::::::: MAIN TITLE :::::::::: -->
                            <b style="color: #a0662e; font-size: 25px;">
                              <!-- {{ mainTitle }} -->
                            </b>

                            <!-- ********** GREATING MESSAGE ********** -->
                            <!-- ********** GREATING MESSAGE ********** -->

                            <br><br><br>

                            <!-- ********** ENG TITLE ********** -->
                            <!-- ********** ENG TITLE ********** -->

                            <!-- :::::::::: DETAIL TITLE ENG :::::::::: -->
                            <b style="color: white; font-size: 25px;">
                              <!-- {{ detailTitleEng }} -->
                            </b>

                            <br><br><br>

                            <!-- ********** ENG BODY ********** -->
                            <!-- ********** ENG BODY ********** -->

                            <!-- :::::::::: TEXT ENG :::::::::: -->
                            <!-- {{ textEng }} -->

                            <!-- ********** ENG RESERVED FEATUERS ********** -->
                            <!-- ********** ENG RESERVED FEATURES ********** -->

                            <!-- ENG RESERVED FEATUERS - 1. EMAIL -->
                            <a href="mailto:info@ganacoin.io" style="color: white;">
                              info@ganacoin.io
                            </a>

                            <!-- ENG RESERVED FEATUERS - 2. LINK -->
                            <span
                              style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-align: left;">
                              <a href="https://link.medium.com/dUlM8JmN0V" target="_blank"
                                style="color: white; text-decoration: underline;">Medium
                                : https://link.medium.com/dUlM8JmN0V</a>
                              &nbsp;|&nbsp;
                              <a href="https://open.kakao.com/o/gj03q26" target="_blank"
                                style="color: white; text-decoration: underline;">BTCC KakaoTalk</a>
                            </span>

                            <!-- ENG RESERVED FEATUERS - 3. BUTTON -->
                            <a href="https://link.medium.com/omUk3pmLrV" style="text-decoration: none;">
                              <button
                                style="background-color: white; border: none; border-radius: 3px; color: black; cursor: pointer; font-size: 10px; font-weight: bold; height: 30px; outline: none; width: 180px;">Medium</button>
                            </a>
                            <br>

                            <!-- Thank you for your patience. -->
                            <!-- {{ textEngOp }} -->
                            <br>
                            <br>
                            <br>

                            <div style="border-top: 1px solid #c6c6c6; height: 1px;"></div>

                            <br><br>

                            <!-- ********** KOR TITLE ********** -->
                            <!-- ********** KOR TITLE ********** -->

                            <!-- :::::::::: DETAIL TITLE KOR :::::::::: -->
                            <b style="color: white; font-size: 25px;">
                              <!-- {{ detailTitleKor }} -->
                            </b>

                            <br><br><br>

                            <!-- ********** KOR BODY ********** -->
                            <!-- ********** KOR BODY ********** -->

                            <!-- :::::::::: TEXT KOR :::::::::: -->
                            <!-- {{ textKor }} -->

                            <!-- ********** KOR RESERVED FEATUERS ********** -->
                            <!-- ********** KOR RESERVED FEATURES ********** -->

                            <!-- KOR RESERVED FEATUERS - 1. EMAIL -->
                            <a href="mailto:info@ganacoin.io" style="color: white;">
                              info@ganacoin.io
                            </a>

                            <!-- KOR RESERVED FEATUERS - 2. LINK -->
                            <span
                              style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-align: left;">
                              <a href="https://t.me/Btcckorea" target="_blank"
                                style="color: white; text-decoration: underline;">BTCC Telegram</a>
                              &nbsp;|&nbsp;
                              <a href="https://open.kakao.com/o/gj03q26" target="_blank"
                                style="color: white; text-decoration: underline;">BTCC KakaoTalk</a>
                            </span>

                            <span
                              style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-align: left;">
                              <a href="https://link.medium.com/ZO2RjbpN0V" target="_blank"
                                style="color: white; text-decoration: underline;">미디움 :
                                https://link.medium.com/ZO2RjbpN0V</a>
                              &nbsp;|&nbsp;
                              <a href="https://open.kakao.com/o/gj03q26" target="_blank"
                                style="color: white; text-decoration: underline;">BTCC KakaoTalk</a>
                            </span>
                            <br>
                            <!-- 더 좋은 소식으로 찾아 뵙겠습니다. -->
                            <!-- {{ textKorOp }} -->
                            <br>

                            <!-- KOR RESERVED FEATUERS - 3. BUTTON -->
                            <a href="http://kornerstonespace.com/" style="text-decoration: none;" target="_blank">
                              <button
                                style="background-color: white; border: none; border-radius: 3px; color: black; cursor: pointer; font-size: 14px; font-weight: bold; height: 50px; outline: none; width: 100%;">밋업
                                장소 확인하기</button>
                            </a>

                            <br><br>

                            <div style="border-top: 1px solid #c6c6c6; height: 1px;"></div>

                            <br><br>

                            Sincerely,<br>
                            <b>GANA TEAM.</b>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                  <!-- ********** FOOTER ********** -->
                  <!-- ********** FOOTER ********** -->

                  <table width="650" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td height="110"></td>
                      </tr>
                      <tr>
                        <td style="text-align: center;">
                          <a href="https://t.me/gana_official" target="_blank"
                            style="display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 15px; text-align: center; text-decoration: none; color: #9f662d; padding: 15px 40px; border: 1px solid #9f662d;">Join
                            our telegram here</a>
                        </td>
                      </tr>
                      <tr>
                        <td height="40"></td>
                      </tr>
                      <tr>
                        <td>
                          <span
                            style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 20px; color: #111821; text-align: center;">Other
                            channels</span>
                        </td>
                      </tr>
                      <tr>
                        <td height="15"></td>
                      </tr>
                      <tr>
                        <td>
                          <span
                            style="display: block; font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: #111821; text-align: center;">
                            <a href="https://twitter.com/ganaproject" target="_blank"
                              style="color: #111821; text-decoration: none;">Twitter</a>
                            &nbsp;|&nbsp;
                            <a href="https://medium.com/ganaproject" target="_blank"
                              style="color: #111821; text-decoration: none;">Medium</a>
                            &nbsp;|&nbsp;
                            <a href="https://github.com/GanaProject" target="_blank"
                              style="color: #111821; text-decoration: none;">Github</a>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td height="80"></td>
                      </tr>
                    </tbody>
                  </table>

                  <table width="650" border="0" cellspacing="0" cellpadding="0" style="border-top: 1px solid #3f516d;">
                    <tbody>
                      <tr>
                        <td height="37"></td>
                      </tr>
                      <tr>
                        <td align="center">
                          <img src="https://cdn.ganacoin.io/web-v4/email-template-symbol.png" width="41" height="41"
                            title="GANA" alt="icon">
                        </td>
                      </tr>
                      <tr>
                        <td height="20"></td>
                      </tr>
                      <tr>
                        <td>
                          <div
                            style="font-family: Helvetica, Arial, sans-serif; font-size: 12.5px; text-align: center; line-height: 1.6; color: #4f4f4f;">
                            &#9400; 2018 Green And Nature Association, All Rights
                            Reserved.<br>
                            GANA and GANACOIN are Trademarks of GANA inc.<br>
                            <br>
                            <b style="color: #111821;">
                              Want to change your mailing condition?
                              <br>
                              You can <a href="[Unsubscribe]" target="_blank" style="color: #00b34f;">unsubscribe your
                                email here</a>
                            </b>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td height="50"></td>
                      </tr>
                    </tbody>
                  </table>

                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>

</div>
